#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    height: 200px;
    width: 1000px;
    border: 5px solid black;
    color: white;
    text-align: center;
}